*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar{
    background-color:#333;
    color:beige;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
}

.titulo{
    text-align: center;
    font-size: 36px;
    margin-top: 40px;
    margin-bottom: 40px;
    color:beige;
    font-weight: bold;
}
.descripcion{
    text-align: center;
    font-size: 20px;
    margin: 30px 0;
    color:beige
}
.subtitulo{
    text-align:center;
    font-size:36px;
    margin:40px 0;
    position:relative;
    color: beige;
}
.subtitulo::after{
    content:"";
    width:120px;
    height:4px;
    background:#333;
    display:block;
    margin:10px auto;
}
.menu{
     list-style:none;
    display:flex;
    gap:25px;
}
.productos{
    text-align:center;
    padding:40px;
}
.producto:hover{
    transform: scale(1.05);
}

.Contenedor-productos{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content:center;
    gap:20px;
}

.producto{
    width:250px;
    border:3px solid #e3dddd;
    padding:60px;
    border-radius:10px;
    text-align:center;
    justify-content: center;
    border-color:beige;
    background-color: #333;
    color: bisque;
}

.producto img{
    width:100%;
    border-radius:10px;
}

.precio{
    font-weight:bold;
    color:greenyellow;
}
.boton:hover{
    transform: scale(1.40);
    color: green;
    background-color:azure;
}
.boton{
    background-color: #546268;
    color:beige
}
.footer{
    text-align: center;
    background-color: #333;
    color:beige;
    padding: 20px;
    margin-top: 40px;
}
.body {
    background-color: #546268;
}


